.components-RightPanel-BodyRight-WindowApp-MenuWindow-root {
    height: 100%;
    display: none;
    position: relative;
}

.menuPage .components-RightPanel-BodyRight-WindowApp-MenuWindow-root {
    display: block;
}
