.components-RightPanel-BodyRight-WindowApp-root {
    height: 596px;
    width: 838px;


    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 50%;
}
