.circleG:first-child{
    margin-left: 0;
}

.circleG{
    background-size: cover !important;
    float:left;
    height:26px;
    margin-left:14px;
    width:26px;
    animation-name:bounce_circleG;
    -o-animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
    animation-duration:2.54s;
    -o-animation-duration:2.54s;
    -ms-animation-duration:2.54s;
    -webkit-animation-duration:2.54s;
    -moz-animation-duration:2.54s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    border-radius:17px;
    -o-border-radius:17px;
    -ms-border-radius:17px;
    -webkit-border-radius:17px;
    -moz-border-radius:17px;
}

#circleG_1{
    animation-delay:0.51s;
    -o-animation-delay:0.51s;
    -ms-animation-delay:0.51s;
    -webkit-animation-delay:0.51s;
    -moz-animation-delay:0.51s;
}

#circleG_2{
    animation-delay:1.18s;
    -o-animation-delay:1.18s;
    -ms-animation-delay:1.18s;
    -webkit-animation-delay:1.18s;
    -moz-animation-delay:1.18s;
}

#circleG_3{
    animation-delay:1.52s;
    -o-animation-delay:1.52s;
    -ms-animation-delay:1.52s;
    -webkit-animation-delay:1.52s;
    -moz-animation-delay:1.52s;
}



@keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(255,255,255);
    }

    100%{}
}

@-o-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(255,255,255);
    }

    100%{}
}

@-ms-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(255,255,255);
    }

    100%{}
}

@-webkit-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(255,255,255);
    }

    100%{}
}

@-moz-keyframes bounce_circleG{
    0%{}

    50%{
        background-color:rgb(255,255,255);
    }

    100%{}
}
