.components-RightPanel-BodyRight-WindowApp-PayWindow-root {
    height: 100%;
    display: none;
    position: relative;
    background-size: cover !important;
}

.payPage .components-RightPanel-BodyRight-WindowApp-PayWindow-root {
    display: block;
}
