.LoadingPage-root {
    position: relative;
    display: none;
    padding-top: 40px;
    padding-bottom: 40px;
    background: darkcyan;
    /*opacity: 0;*/
    /*transition: opacity 10s ease;*/
}

.loadingPage .LoadingPage-root {
    display: block;
    /*opacity: 100;*/
}
