.components-LeftPanel-SettingPage-root {
    background-color: aliceblue;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
}

.components-LeftPanel-SettingPage-page {
    padding: 15px;
}
