.components-RightPanel-BodyRight-WindowApp-AddressWindow-root {
    position: relative;
    height: 100%;
    display: none;
}

.addressPage .components-RightPanel-BodyRight-WindowApp-AddressWindow-root {
    display: block;
}

.components-RightPanel-BodyRight-WindowApp-AddressWindow-title {
    display: block;
    position: absolute;
}

.components-RightPanel-BodyRight-WindowApp-AddressWindow-buttonOk {
    display: block;
    position: absolute;
}

.components-RightPanel-BodyRight-WindowApp-AddressWindow-inputAddress {
    padding-left: 15px;
    position: absolute;
}
