.components-RightPanel-BodyRight-WindowApp-LoadingWindow-root {
    height: 100%;
    position: relative;
    display: none;
    background-size: cover !important;
}

.loadingPage .components-RightPanel-BodyRight-WindowApp-LoadingWindow-root {
    display: block;
}

.components-RightPanel-BodyRight-WindowApp-LoadingWindow-loader {
    position: absolute;
    display: block;
}

.components-RightPanel-BodyRight-WindowApp-LoadingWindow-title {
    display: block;
    position: absolute;
}
