.components-RightPanel-BodyRight-WindowApp-PayWindow-LeftPanel-InputContainer-root {
    position: absolute;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.components-RightPanel-BodyRight-WindowApp-PayWindow-LeftPanel-InputContainer-title {
    position: relative;
    display: block;
    margin-bottom: 3px;
}

.components-RightPanel-BodyRight-WindowApp-PayWindow-LeftPanel-InputContainer-input {
    outline: none;
    padding-left: 15px;
    background-size: cover !important;
}
